div:has(div > div > div > div > .adblock_title) {
  display: none !important;
}

.chapter-user-options {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.chapter-options-link:disabled {
  filter: saturate(0.5);
  opacity: 0.5;
}

//  Toggle
.knob,
.btn-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}
.btn.btn-rect {
  border-radius: 2px;
}
.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knob {
  z-index: 2;
}

.btn-bg {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

#toggle-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#toggle-container .knob:before {
  content: "ON";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 2px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#toggle-container .checkbox:active + .knob:before {
  width: 46px;
}

#toggle-container .checkbox:checked:active + .knob:before {
  margin-left: -26px;
}

#toggle-container .checkbox:checked + .knob:before {
  content: "OFF";
  left: 42px;
  background-color: #f44336;
}

#toggle-container .checkbox:checked ~ .btn-bg {
  background-color: #fcebeb;
}

// ======== Button

.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-1:disabled {
  cursor: default;
}
.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
}
.btn-1 [hidden] {
  display: none;
}
.btn-1 {
  border-radius: 4px;
  border-width: 2px;
  padding: 0.8rem 3rem;
}
.btn-1:hover {
  color: #999;
}

// cenele.com

#alayahya-reader-settings .modal-content {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  #alayahya-reader-settings .modal-content {
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }
  #alayahya-reader-settings h3,
  #alayahya-reader-settings h4 {
    color: white;
  }
}
